* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family:'Times New Roman', Times, serif
        }

        body {
            background: #e4a14e;
            color: #333;
        }

        header {
            background-image: url(../img/loginpattern.avif);
            padding: 10px;
            color: rgb(236, 232, 232);
            text-align: center;
    
        }
        h1{
                 background: rgb(6, 6, 6);
                 padding: 10px 20px;  
                 border-radius: 12px;
                 box-shadow: 0 0 15px rgba(0,0,0,0.1);
                 display: inline-block;  
                 text-align: center;
                 
}
h2{
     text-align: center;
margin-bottom: 15px;
}

        /* ----------- ABOUT SECTION ----------- */
      .about-section {
            width: 85%;
            margin: 40px auto;
            background: rgb(245, 180, 105);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0,0,0,0.1);
        }




.about-content {
    width: 100%;                  
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: left;
    gap: 20px;

    background: rgba(244, 242, 241, 0.9);
    padding: 20px 20px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin-bottom: 40px;
    
}
.about-content p {
    line-height: 1.8;  
    font-size: 18px;
}




/* image */
.about-img {
    width: 300px;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
        

        /*  TEAM SECTION  */
        .team {
            text-align: center;
            margin-top: 40px;
        }

        .team h2 {
            font-size: 28px;
            margin-bottom: 20px;
        }

        .team-boxes {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
            
        }

        .team-member {
            background: #eb9330;
            width: 250px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            transition: 0.3s;
        }

        .team-member:hover {
            transform: translateY(-5px);
        }

        .team-member img {
            width: 80px;
            border-radius: 50%;
            margin-bottom: 10px;
        }

        .team-member h3 {
            margin: 10px 0;
            font-size: 20px;
        }


        /*  SCROLL BUTTON  */
        #topBtn {
            position: fixed;
            bottom: 20px;
            right: 20px;
            padding: 10px 15px;
            background: #4A90E2;
            border: none;
            color: white;
            border-radius: 5px;
            cursor: pointer;
            display: none;
        }
        h4{
             font-size: 28px;
            margin-bottom: 20px;
        }
           /*FOOTER STYLES */
   #footerbackground{
   height: 220px;
    width: 100%;
   
}
    
    footer{
     
    margin-top: 20px;
    padding: 30px;
    padding-bottom: 10px;
        background-color: rgb(232, 232, 232);

    }
    #footertext{
        border:  2px solid transparent;
        padding: 10px;
        display: block;
        border-radius: 25px;
        box-shadow: 0px 2px 15px rgba(144, 144, 144, 0.1) ;
        background-color: #f5f5f5;
        display: flex;
        justify-content: space-between;
        padding-left: 80px;
        padding-right: 250px;
        margin: auto;
        box-shadow: 5px 5px 25px  rgb(181, 186, 190)  ;
    }
    
    #footerlogo{
     display: block;
     align-items: left;
     width: auto;
     height: 80px;
     display: flex;
     margin-left: 100px;

    }
    #footeraboutus1{
     color: rgb(66, 66, 66);
     font-size: 25px;
     line-height: 10px;
     padding: 5px;
     text-align: left;
        margin: auto;
        display: flex;
       
      
    }   
    
    #copyright{
     color:rgb(66, 66, 66) ;
     font-size: 14px;
     text-align: center;
     margin-top: 10px;
    }
    
   
