*{
    margin: 0;
    padding: 0;
}
:root{
--accent-color: rgb(231, 165, 43);
--base-color:rgb(10, 9, 8);
--text-color:rgb(10, 9, 9) ;
--input-color: rgb(251, 245, 245);
}
html{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    color: var(--text-color);
    text-align: center;
}
body{
    min-height: 100vh;
    background-image: url(../img/loginimg.jpg);
    background-size: 800px;
    background-position: right;
    overflow: hidden;
    
}
.wrapper{
    box-sizing: border-box;
    background-image: url(../img/loginpattern.avif) ;
    background-size: 360px;
    height: 100vh;
    width: max(50%, 600px);
    padding: 10px;
    border-radius: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
    opacity: 0.9;
    
}
h1{
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    box-sizing: border-box;
     border: 1px solid #ccc;
     padding: 10px;
     text-align: center;
     border-radius: 5px;
     background-color: #f3f0ff;
     border:  solid var(--input-color);
     background-color: var(--input-color);
}
h1 input{
    outline: none;
    opacity: 1;
}
form{
    width: min(400px, 100%);
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    opacity: 1;
}
form > div{
    width: 100%;
    display: flex;
    justify-content: center;
}
form label{
    flex-shrink: 0;
    height: 50px;
    width: 50px;
    background-color: var(--accent-color);
    fill: var(--base-color);
    color: var(--base-color);
    border-radius: 10px 0 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    opacity: 1;
}
form input{
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 0;
    height: 50px;
    padding: 1em;
    font: inherit;
    border-radius: 0 10px 10px 0;
    border-left: none;
    border: 2px solid var(--input-color);
    background-color: var(--input-color);
    transition: 150ms ease;
    opacity: 1;
}
form input:hover{
    border-color: var(--accent-color);
}
form input:focus{
    outline: none;
    border-color: var(--text-color);
}
div:has(input:focus) > label{
    background-color: var(--text-color);
}
form input::placeholder{
    color: var(--text-color);
}
form button{
    margin-top: 10px;
    border: none;
    border-radius: 1000px;
    padding: .85em 4em;
    background-color: var(--accent-color);
    color: var(--base-color);
    font: inherit;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 150ms ease;
}
form butten:hover{
    background-color: var(--text-color);
}
form button:focus{
    outline: none;
    background-color:var(--text-color);
}
a{
    text-decoration: none;
    color: var(--accent-color);
}
a:hover{
    text-decoration: underline;
}
.account{
     border: 1px solid #ccc;   
  padding: 10px;           
  border-radius: 5px;      
  text-align: center;       
  width: fit-content;       
  margin: 10px auto;
  border:  solid var(--input-color);
    background-color: var(--input-color);
}
@media (max-width: 1100px){
.wrapper{
    width: min(600px, 100%);
    border-radius: 0;
}
}

.back-btn1 {
    position: absolute;
    top: 20px;
    left: 20px;

     background-color: var(--accent-color);
    color: var(--base-color);
    border: none;
    padding: 10px 12px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;

    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.back-btn1:hover {
    background: #f0f0f0;
}
.back-btn2 {
    position: absolute;
    top: 20px;
    left: 20px;

     background-color: var(--accent-color);
    color: var(--base-color);
    border: none;
    padding: 10px 12px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;

    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.back-btn2:hover {
    background: #f0f0f0;
}
input{
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}
button{
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}
p{
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}
h1{
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

